<!DOCTYPE html>
<html>
  <head>
    <title>Grumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script type="text/javascript">
      window.splashBG = "<%= image_url('grumpy-cat.jpg') %>";
      window.smallLogo = "<%= image_url('small-g-logo.png') %>";
      window.profilePic = "<%= image_url('Grumpy_Hot-Dog_Batman.jpg') %>";
    </script>
    <%= yield %>
  </body>
</html>
