<!DOCTYPE html>
<html>
  <head>
    <title>Grumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" type="image/png" href="<%= image_url('favicon.png') %>"/>
  </head>

  <body>
    <script type="text/javascript">
      window.splashBG = "<%= image_url('grumpy-cat.jpg') %>";
      window.smallLogo = "<%= image_url('small-g-logo.png') %>";
    </script>
    <%= yield %>
  </body>
</html>
